// --- Include --- //
{% for file in Dependencies.Include -%}
`include "{{ file }}"
{% endfor -%}
{# Blank Line #}
{%- set seqs = Stimulus.Sequences %}
{% for seq, seq_name in seqs.items() -%}
// --- Sequence Type --- //
class {{ DUT.Module }}_{{ seq }}_sequence extends uvm_sequence;
  `uvm_object_utils({{ DUT.Module }}_{{ seq }}_sequence)

  {{ DUT.Module }}_sequence_item {{ seq_name }};
  
  // --- Constructor --- //
  function new(string name= "{{ DUT.Module }}_{{ seq }}_sequence");
    super.new(name);
    `uvm_info("{{ seq }}_SEQ", "Inside Constructor", UVM_HIGH)
  endfunction

  // --- Body Task --- //
  task body();
    `uvm_info("{{ seq }}_SEQ", "Inside body task", UVM_HIGH)
    
    // --- Create Transaction --- //
    {{ seq_name }} = {{ DUT.Module }}_sequence_item::type_id::create("{{ seq_name }}");
    start_item({{ seq_name }});
    // {{ seq_name }}.randomize() with {};
    finish_item({{ seq_name }});
        
  endtask: body

endclass : {{ DUT.Module }}_sequence_item
{% endfor %}